/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2018, 11:52:01
    Author     : xthiagodias
*/

@charset "ISO-8859-1";



.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}



.bg-light {
    
    background-color: white;
    
}

.navbar-expand {
    
    

}

.mm {
   
}

.navMenu {
   display: inline;   
   position: static;
   
 

   
    
}

fieldset {

    border: solid 1px black;
  
  

}

.imagemLogo {
    padding: 6pt;
    float: left;
    
    
}



#corpo {

    opacity: 0.6;
    filter: alpha(opacity=90); 



}

.topoPagina {
    display: compact;
    padding: 20pt;
    width: 40%;
    height: 10%;
   
   position: absolute;
   
    

}

#btAnunciar {
    margin-right: 20px;
    font-family: Tahoma;
    background-color: green;
    width: 150px;
    text-align: center;
    color: white;
    border: solid 1px black;


}


#menus {





}

#pills-tab {



}


.bannerTopo {
    display: block;
 

    margin-bottom: 100px;
    border: solid 1px red;
    background-color: #fafafa;
    height: 134px;
  
  


}



 .menu  {
    
    display: block;
    border: solid 1px black;
    margin-top: -84px;
    float: right;
    width: 50%;
   
    
}



#navBuscar {
    margin-left: 0px;
    margin-top: -1px;
    padding: 12pt;
    width: 100%;
    height: 150px;
    border: solid 1px black;
    background-color: #fafafa;
    position: relative;
    display: flex;
    border-radius: 1% 1% 1% 1%;
}

.campoBuscar {
  
    margin-top: 10px;
  margin-left: 0px;
  width: 100%;
      position: relative;
    display: flex;
    border-radius: 1% 1% 1% 1%;
 
}

#btFiltrar {
    margin-left: 6px;
    margin-bottom: 10px;
}

.campoCategorias {
    padding: 10pt;

    border: solid 1px black;
    margin-top: 5px;
    width: 316px;
    margin-left: -14px;
    height: 310px;
    background-color: #fafafa;
    border-radius: 1% 1% 1% 1%;
}

label {
    padding: 0pt;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
    font-family: Arial;
    font-size: 13px;
}



 #cat {

    font-weight: bold;
    text-align: center;
    margin-left: 90px;
    margin-top: 1px;
    font-size: 15pt;
    color: black;
    text-align: center;
}

hr {
    margin: auto;
    margin-bottom: 10px;
}

span {

    text-align: left;
    font-weight: bold;
    margin-top: 1px;
    font-size: 12pt;
    color: black;
}




 .anuncios {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    border: solid 0.5px green;
    background-color: #fafafa;
    border-radius: 1% 1% 1% 1%;
    height: 150px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    
    

}

.container2 {
    
    display: block;
    height: 100%;
    width: 50%;
   
    margin: auto;
    margin-bottom: 100px;
    margin-left: 330px;
    margin-top: 10px;
  
    position: absolute;
    height: 792px;
border: solid 1px black;

}


.container3 {
    display: block;
    margin-top: -4px;
   
    margin-left: 3%;
    height: 100%;
    
  


}





.campoPropagandas {
    
    padding: 10pt;
    display: flex;
    border: solid 1px black;
    margin-top: 180px;
    width: 388px;
    margin-left: -149px;
    height: 170px;
    background-color: #fafafa;
    border-radius: 1% 1% 1% 1%;
    

}

.campoPropagandas2 {
    padding: 10pt; 
    display: flex;
    border: solid 1px black;
    margin-top: 350px;
    width: 288px;
    margin-left: 0px;
    height: 170px;
    background-color: #fafafa;
    border-radius: 1% 1% 1% 1%;
}

.campoPropagandas1 {
 
    display: flex;
    border: solid 1px black;
    margin-top: 5px;
    width: 280px;
    margin-left: 0px;
    height: 170px;
    background-color: #fafafa;
    border-radius: 1% 1% 1% 1%;
}

/*
Banner Direita
*/
  .container4 {
    display: block;
   
    margin-left: 78%;
    margin-top: -770px;
    margin-bottom: 0px;
  
   
    height: 600px;
  

}



.anuncios img {
    
    padding: 5pt;
    display: flex;
}

.conteudoLivro {
    padding: 5pt;
    display: block;
 position: relative;
  width: 70%;
    margin-left: 120px;
    margin-top: -140px;

}

.tipoAnuncio {
 
    margin: 0 auto;
    display: flex;
  

    
    
    margin-bottom: 110px;
    margin-left: 430px;
    margin-top: -110px;
    position: relative;
  
   
}

.valor {
 margin: 0 auto;
   text-align: center;
    margin-bottom: 110px;
    margin-left: 400px;
    margin-top: -230px;
    font-weight: bold;
    position: relative;
    font-family: tahoma;
    font-size: 13pt;
    color: red;

    
    
}

.data {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
    margin-left: 400px;
    margin-top: -10px;
    position: relative;
    font-weight: bold;
}

.dataAnuncio {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
    margin-left: 400px;
    margin-top: 230px;
    position: relative;
    font-weight: bold;
}


a {
    color: black;
}

a:hover { 
    
    text-decoration:none; 
   

}

a:link { 
    
    text-decoration:none; 
    

}

a:active { 
    
    text-decoration:none; 
    

}