#triangulo {
    
  width: 0px;
  height: 0px;
  border: 100px solid;
  border-color: white;
  border-bottom: 180px solid yellow;
  margin-top: auto;
  border-top: 0;

  margin-bottom: auto;
  margin-left: auto;
  margin: 0 auto;
  
  
    
}

#quadrado {
    
  width: 0px;
  height: 80px;
  border: 100px solid;
  border-color: red;
  
  margin-top: auto;
  border-top: 0;

  margin-bottom: auto;
  margin-left: auto;
  margin: 0 auto;
}

h1 {
    text-align: center;
    color: blue;
    
}

#calc {
    padding: 15px;
    margin: auto;
    
    
}

#calc2 {
    padding: 15px;
    margin: auto;
    
    
}

#base {
   margin: 9px;
   margin-top: 0px;
 
    
}



#calcular {
 
 margin: 0;
 margin-left: 51px;
 margin-top: 2pt;
}

#calcular2 {
 
 margin: 0;
 margin-left: 41px;
 margin-top: 2pt;
}


#area {
   margin: 9px;
   margin-top: 0px;
   margin-top: 20px;
    
}

#area2 {
   margin: 9px;
   margin-top: 0px;
   margin-top: 48px;
    
}
