@charset "ISO-8859-1";




#f1 {

    background-color: green;
    padding: 12px;
height: 90px;
    
}

#f2 {
    
    background-color: gainsboro;
    padding: 12px;
    margin-top: 2%;
height: 90px;
    
}

#f3 {

    background-color: gainsboro;
    padding: 12px;
    margin-top: 2%;
height: 90px;
   display: block;
    
}



#f4 {
    
    margin-top: 2%;
    background-color: green;
    padding-top: 40px;
    
    
}


span {
    
    alignment-adjust: central;
}