@charset "ISO-8859-1";

body {
    
    background-color: #333;
}

h1 {
    
    color: gold;
    
}

h3 {
    
    color: gold;
    
}

#pont {
    
    border-top-width: thin;
    border-left-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-style: dashed;
    background-color: black;
    
}

p {
    
    color: white;
    
}


ol {
    
    color: white;
    
}



#bord {
    
    border-style: solid;
    background-color: darkturquoise;
    width: 90%;
    
}

a {
    
    color: gold;
    
}